<div class="orders">
  <div class="topBar" style="height:35px;width:100%;background:#4caf50;color:#fff;font-size:16px;font-weight:500">
    <ul style="display:inline-block;list-style:none;padding:5px;">
      <li ng-class="selectedTemp=='personal'?'activeBorder':''" ng-click="setTemplate('personal')">Personal Order</li>
      <li ng-class="selectedTemp=='club'?'activeBorder':''"  ng-click="setTemplate('club')">Club Order</li>
      <li ng-class="selectedTemp=='procure'?'activeBorder':''" ng-click="setTemplate('procure')">To procure</li>
    </ul>
  </div>
  <div class="ordersTemplate">
    <div class="" ng-include="myTemplate">

    </div>
  </div>
</div>
