<div class="dashboard" style="padding:25px;">
  <!-- <h1>{{name}}</h1> -->

    <div class="row" style="margin:30px 0px">
      <div class="col-lg-3 box medium_box">
        <div class="box_container medium_box_container" style="background:#26c6da">


        </div>
        <div class="" style="margin-top:155px;">
          <div style="font-size:20px;">dummy data</div>
          <div style="font-size:16px;opacity:0.8">Increase in sale</div>
          <div style="border-top:1px solid #eee;font-size:14px;margin-top:10px;opacity:0.8">
            last updated
          </div>
        </div>
      </div>

      <div class="col-lg-4 box medium_box">
        <div class="box_container medium_box_container" style="background:#ef5350;">

        </div>
        <div class="" style="margin-top:155px;">
          <div style="font-size:20px">dummy data</div>
          <div style="font-size:16px;opacity:0.8">Increase in sale</div>
          <div style="border-top:1px solid #eee;font-size:14px;margin-top:10px;opacity:0.8">
            last updated
          </div>
        </div>
      </div>

      <div class="col-lg-3 box medium_box">
        <div class="box_container medium_box_container">

        </div>
        <div class="" style="margin-top:155px;">
          <div style="font-size:20px;">dummy data</div>
          <div style="font-size:16px;opacity:0.8">Increase in sale</div>
          <div style="border-top:1px solid #eee;font-size:14px;margin-top:10px;opacity:0.8">
            last updated
          </div>
        </div>
      </div>
  </div>




    <div class="row" style="margin:30px 0px">
      <div class="col-lg-2 small_box box">
        <div class="box_container small_box_container">

          <i class="fas fa-home"></i>
        </div>
        <div class="" style="float:right">
          123
        </div>
        <div style="border-top:1px solid #eee;font-size:14px;margin-top:90px;opacity:0.8">
          last updated
        </div>
      </div>

      <div class="col-lg-3 small_box box">
        <div class="box_container small_box_container" style="background:#ffa726">
          <i class="fas fa-folder-open"></i>
        </div>
        <div class="" style="float:right">
          123
        </div>
        <div style="border-top:1px solid #eee;font-size:14px;margin-top:90px;opacity:0.8">
          last updated
        </div>
      </div>

      <div class="col-lg-3 small_box box">
        <div class="box_container small_box_container" style="background:#ef5350">
            <i class="fab fa-twitter-square"></i>
        </div>
        <div class="" style="float:right">
          123
        </div>
        <div style="border-top:1px solid #eee;font-size:14px;margin-top:90px;opacity:0.8">
          last updated
        </div>
      </div>

      <div class="col-lg-2 small_box box">
        <div class="box_container small_box_container" style="background:#26c6da">
          <i class="fab fa-twitch"></i>
        </div>
        <div class="" style="float:right">
          123
        </div>
        <div style="border-top:1px solid #eee;font-size:14px;margin-top:90px;opacity:0.8">
          last updated
        </div>
      </div>
  </div>



    <div class="row" style="margin:30px 0px">
      <div class="col-lg-5 large_box box">
        <div class="box_container large_box_container" style="background:#ffa726">


        </div>
        <div class="" style="margin-top:90px;">
          dummy data
        </div>
      </div>

      <div class="col-lg-5 box large_box box">
        <div class="box_container large_box_container" style="background:#26c6da">

        </div>
        <div class="" style="margin-top:90px;">
          dummy data
        </div>
      </div>
  </div>
</div>
