<div class="wrapper" style="">
    <!-- Sidebar -->
    <nav id="sidebar" ng-class="sideBarActive? 'active':''">
        <div class="sidebar-header">
            <h3>Zypher Admin</h3>
        </div>

        <ul class="list-unstyled components">
            <li ng-class="active[0]?'active':''" ng-click="setActive(0)">
                <a ui-sref="dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
            </li>
            <li ng-class="active[1]?'active':''" ng-click="setActive(1)">
                <a ui-sref="orders"><i class="fas fa-baby-carriage"></i><span>Order Management</span></a>
            </li>
            <li ng-class="active[2]?'active':''" ng-click="setActive(2)">
                <a ui-sref="users"><i class="fas fa-users"></i><span>User Management</span></a>
            </li>
            <li ng-class="active[3]?'active':''" ng-click="setActive(3)">
                <a ui-sref="clubs"><i class="fas fa-cubes"></i><span>Club Management</span></a>
            </li>
            <li ng-class="active[4]?'active':''" ng-click="setActive(4)">
                <a ui-sref="events"><i class="fas fa-calendar-week"></i><span>Event Management</span></a>
            </li>
            <li ng-class="active[5]?'active':''" ng-click="setActive(5)">
                <a ui-sref="inventory"><i class="fas fa-dice-five"></i><span>Inventory</span></a>
            </li>
        </ul>
    </nav>

</div>
