<header id="header" style="height:40px;background-color:#eee;margin-bottom:30px">
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" ng-click="sidebarCollapse()" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav> -->

    <div class="" style="display:flex;justify-content:space-between">
      <span style="font-size:20px;padding:5px;">{{title}}</span>
      <div class="" style="display:flex">
        <div class="md-form mt-0">
          <input style="padding:5px" class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <ul style="display:flex;flex-direction:row;list-style:none;opacity:0.8">
          <li style="font-size:22px;margin:5px 10px"><i class="fas fa-cubes"></i></li>
          <li style="font-size:22px;margin:5px 10px"><i class="fas fa-bell"></i></li>
          <li style="font-size:22px;margin:5px 10px"><i class="fas fa-users"></i></li>
        </ul>
      </div>

    </div>

</header>
