<div class="users">
  <div class="topBar" style="height:35px;width:100%;background:#4caf50;color:#fff;font-size:16px;font-weight:500">
    <ul style="display:inline-block;list-style:none;padding:5px;">
      <li ng-class="selectedTemp=='all'?'activeBorder':''" ng-click="setTemplate('all')">All Users</li>
      <li ng-class="selectedTemp=='subscribed'?'activeBorder':''"  ng-click="setTemplate('subscribed')">Subscribed Users</li>
      <li ng-class="selectedTemp=='club'?'activeBorder':''" ng-click="setTemplate('club')">Club Users</li>
    </ul>
  </div>
  <div class="userTemplate">
    <div class="" ng-if="selectedTemp=='all'">
      <list-users data="users" title="'All users'"></list-users>
    </div>
    <div class="" ng-if="selectedTemp=='subscribed'">
      <list-Users data="users" title="'Subscribed Users'"></list-Users>
    </div>
    <div class="" ng-if="selectedTemp=='club'">
      <list-Users data="users" title="'Club Users'"></list-Users>
    </div>
  </div>
</div>
