
body {
    font-family: 'Lato', sans-serif;
    background: #eee;
    font-weight: 300;
    font-size: 16px !important;
}

*{
  padding: 0px;
  margin: 0px;
}

/* p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
} */


header #header{
  height: 20px;
  background-color: #eee;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #7386D5;
    border-radius: 30px;
    padding: 7px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 400px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 25px;
    width: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }


#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #000;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4caf50;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a span {
    margin-left: 20px;
}
#sidebar ul li a:hover {
    color: #4caf50;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #4caf50;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4caf50;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}








/* ----------------------------------------- */


.box{
  margin:20px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}
.box_container{
  position: absolute;
  left:10%;
  border-radius: 10px;
  top:-20px;
}

.dashboard .small_box{
  height: 130px;
  box-shadow: 0px 0px 10px #f6f6f6;
}
.dashboard .medium_box{
  height: 250px;
  box-shadow: 0px 0px 10px #f6f6f6;
}
.large_box{
  min-height: 250px;
  box-shadow: 0px 0px 10px #f6f6f6;
}

.large_box_container{
  box-shadow: 0px 1px 5px #4caf50;
  background-color: #4caf50;
  height: 60px;
  width: 90%;
  left:5%;

}
.dashboard .medium_box_container{
  box-shadow: 0px 1px 5px #4caf50;
  background-color: #4caf50;
  height: 150px;
  width: 80%;
}
.dashboard .small_box_container{
  box-shadow: 0px 1px 5px #4caf50;
  background-color: #4caf50;
  height: 80px;
  width: 30%;
  font-size: 200%;
  color:#fff;
  padding: 12px;
  text-align: center;
  align-items: center;
}


.activeBorder{
  padding-bottom: 6px;
  border-bottom: 3px solid yellow;
  animation: slide 3s;
}


.orderDetails ul li{
  margin-top:15px;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++ */

.topBar ul li{
  cursor: pointer;
  display:inline;
  padding:0px 10px 6px 10px;
}
table td{
  font-size: 15px;
}
table th{
  font-size: 15px;
  text-align: center;
}
.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.5;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
      color: #555;
      cursor: default;
      background-color: #fff;
      border-top: 2px solid red;
          border-bottom-color: rgb(221, 221, 221);
      border-bottom-color: transparent;
    }


  .orderDetails .btns button.active{
      color: #555;

      background-color: #fff;
      border-top: 2px solid red;
          border-bottom-color: rgb(221, 221, 221);
      border-bottom-color: transparent;
    }
