.z_primary{
  background-color: #337ab7;
  color:#fff;
}
.z_primary:hover{
  box-shadow: 0 0 5px #337ab7;
}

.z_green{
  background-color: #4caf50;
  color:#fff;
}
.z_green:hover{
  box-shadow: 0 0 5px #4caf50;
}

.z_danger{
  background-color: #ef5350;
  color:#fff;
}
.z_danger:hover{
  box-shadow: 0 0 5px #ef5350;
}

.z_warning{
  background-color: #ffa726;
  box-shadow: 0 0 1px #ffa726;
  color:#fff;
}
.z_warning:hover{
  box-shadow: 0 0 5px #ffa726;
}

.z_normal{
  background-color: #eee;
  box-shadow: 0 0 1px #eee;
  color:#337ab7;
}

.z_btn{
  border-radius: 3px;
  padding: 7px 15px;
  cursor: pointer;
  border: none;
  margin: 1px 5px;
}
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 2.5em;
  margin-top: 2em;
  padding: 0px 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}
