
<div class="">
  <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>


  <table class="table">
    <!-- <caption>List of users</caption> -->
    <thead>
      <tr style="text-align:center">
        <th scope="col">Name</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.email}}</td>
        <td ng-click="tableAction('details',user.name)"><p style="cursor:pointer;background:#ffa726;padding:5px 10px;border-radius:5px;display:inline">Details</p></td>
        <!-- <td style="cursor:pointer" ng-click="tableAction('edit',order.id)"><p style="cursor:pointer;background:#ef5350;padding:5px 10px;border-radius:5px;display:inline">Edit Order</p></td> -->
      </tr>
    </tbody>
  </table>
</div>
