<div class="createNewClub" style="padding:20px">
  <form>
        <div class="md-form mt-0" style="margin-top: 40px">
          <input class="form-control" type="text" placeholder="Club Name" aria-label="Search" ng-model="form.name">
        </div>
        <div class="md-form mt-0" style="margin-top: 40px">
          <input class="form-control" type="text" placeholder="Image URL" aria-label="Search" ng-model="form.url">
        </div>
        <div class="md-form mt-0" style="margin-top: 40px">
          <input class="form-control" type="text" placeholder="Passkey" aria-label="Search" ng-model="form.passkey">
        </div>
        <div class="md-form mt-0" style="margin-top: 40px">
          <input class="form-control" type="text" placeholder="POC Email" aria-label="Search" ng-model="form.pocMail">
        </div>
        <div class="md-form mt-0" style="margin-top: 40px">
          <input class="form-control" type="text" placeholder="POC Name" aria-label="Search" ng-model="form.pocName">
        </div>
        <!-- <div class="md-form mt-0" style="margin-top: 40px">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" ng-model="form.name">
        </div> -->
        <div class="" style="text-align:center">

          <button type="submit" class="z_btn z_primary" ng-click="submitFormData()">Create</button>
        </div>
    </form>
</div>
