<div class="" style="padding:30px;">
  <div class="">
    <div class="md-form mt-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
  </div>

  <div class="row" style="margin-top:15px">
    <div class="large_box box">
      <div class="box_container large_box_container">
        <div class="" style="font-size: 20px;
          font-weight: 600;
          color: #fff;
          padding: 12px;
          opacity: 0.9;
          ">
          Personal Orders
        </div>

      </div>
      <div class="" style="padding-top:70px;width:100%;text-align:center">

         <!-- <breadcrumb></breadcrumb> -->
      <div class="container-fluid">
        <uib-tabset>
          <uib-tab active="searchTabActive">
            <uib-tab-heading>
              All Orders <i class="fa fa-plus"></i>
            </uib-tab-heading>
            <div style="margin-top:20px;" ng-include="'/static/ngTemplates/templates/orders/entries.orders.order.all.html'">
            </div>
          </uib-tab>

          <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
            <uib-tab-heading>
              {{tab.title}}<i ng-if="tab.cancel" style="margin-left:5px" class="far fa-times-circle" ng-click="closeTab($event,$index)"></i>
            </uib-tab-heading>
            <!-- <div ng-if="tab.app == 'editOrder'">
              <order-Edit data="tab"></order-Edit>
            </div> -->
            <div ng-if="tab.app == 'exploreOrder'">
              <order-Details data="tab"></order-Details>
              <!-- <div ng-include="'/static/ngTemplates/templates/entries.orders.order.details.html'"></div> -->
            </div>
          </uib-tab>
        </uib-tabset>
      </div>







      </div>
    </div>
  </div>
</div>
