<div class="" style="padding:30px;">
  <div class="">
    <div class="md-form mt-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
  </div>

  <div class="row">
    <div class="col-lg large_box box">
      <div class="box_container large_box_container">
        <div class="" style="font-size: 20px;
          font-weight: 600;
          color: #fff;
          padding: 12px;
          opacity: 0.9;
          ">
          All Undelivered Orders
        </div>
      </div>
      <div class="" style="margin-top:90px;">
        dummy data
      </div>
    </div>
  </div>
</div>
