<div class="">
  <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>


  <table class="table">
    <!-- <caption>List of users</caption> -->
    <thead>
      <tr style="text-align:center">
        <th scope="col">Name</th>
        <th scope="col">Book Count</th>
        <th scope="col">Received At</th>
        <!-- <th scope="col">Received At</th> -->
        <th scope="col">Details</th>
        <!-- <th scope="col">Edit</th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
        <td>{{order.name}}</td>
        <td>{{order.count}}</td>
        <td>{{order.Received_at}}</td>
        <td ng-click="tableAction('details',order.id)"><p style="cursor:pointer;background:#ffa726;padding:5px 10px;border-radius:5px;display:inline">Check Order</p></td>
        <!-- <td style="cursor:pointer" ng-click="tableAction('edit',order.id)"><p style="cursor:pointer;background:#ef5350;padding:5px 10px;border-radius:5px;display:inline">Edit Order</p></td> -->
      </tr>
    </tbody>
  </table>
</div>
