{% extends 'entries/base.html' %}
{% block content %}

     <div style="display:flex;height:100vh;overflow:hidden">
       <!-- <h4>Welcome {{user}}</h4> -->

      <div class="sideMenu" style="width:250px" ng-include="sideMenu"></div>
      <div class="" style="width:100%;overflow:scroll">
        <div class="header"  ng-include="header"></div>
        <div ui-view></div>
      </div>

     </div>
{% endblock %}
