<div class="orderDetails">
  <div class="" style="padding:30px">
    <div class="" style="background: #eee;height: 180px;padding: 20px;">
      <img style="width: 140px;height: 140px;float: left;border-radius:10px;box-shadow:0 0 10px #eee" src="/static/imgs/4.png" alt="">
      <span class="" style="display:inline-block">
        <h4 style="font-weight:700">Id: #3233232</h4>
        <h5 style="opacity:0.7">{{data.userName}}</h5>
        <p>{{data.email}}</p>
        <h5 style="font-weight:500">{{data.phoneNumber}}</h5>
        <div class="">
          <span style="background:#ffa726;padding:5px 10px;border-radius:5px;">{{data.orderType}}</span>
        </div>
      </span>
    </div>


      <div class="row" style="margin-top:10px;text-align:left">
        <!-- <p style="font-weight:500;opacity:0.9">Order Type :</p> -->
        <p style="margin-left:15px;"><b style="opacity:0.7">Delievery to</b>:{{data.address}}</p>
      </div>


      <div class="row btns" style="margin-top:20px">
        <div class="col-sm-6 ">
            <button ng-click="setType('deleiver')" ng-class="!toCollect?'z_btn z_primary':'z_btn z_normal'" type="button" name="button">To Deliver</button>
        </div>
        <div class="col-sm-6">
          <button ng-click="setType('collect')" ng-class="toCollect?'z_btn z_primary':'z_btn z_normal'" type="button" name="button">To Collect</button>
        </div>
      </div>


      <div class="row" style="margin-top:20px;padding:20px">
        <div class="" ng-if="toCollect">
          <ul style="list-style:none;width:100%;display:grid">
            <li style="" ng-repeat="book in data.toCollect">
              <img style="width: 100px;height: 130px;float: left;border-radius:5px;box-shadow:0 0 1px #eee" ng-src="{{book.img}}" alt="">
              <div class="" style="display: inline-block;float: left;margin-left: 30px;text-align:left">
                <div style="font-size:17px;font-weight:500">{{book.name}}</div>
                <div style="font-size:16px;">{{book.author}}</div>
                <!-- Material unchecked -->
                <div class="funkyradio">
                  <div class="funkyradio-success">
                     <input type="checkbox" name="checkbox" id="{{book.name}}"/>
                     <label for="{{book.name}}">Delivered</label>
                 </div>
                </div>
              </div>
            </li>
          </ul>
          <button class="z_btn z_green" type="button" name="button" style="width:100%;" ng-click="updateDelivered()">Update Order</button>
        </div>

        <div class="" ng-if="!toCollect">
          <ul style="list-style:none;width:100%;display:grid">
            <li style="" ng-repeat="book in data.toDeliverd">
              <img style="width: 100px;height: 130px;float: left;border-radius:5px;box-shadow:0 0 1px #eee" ng-src="{{book.img}}" alt="">
              <div class="" style="display: inline-block;float: left;margin-left: 30px;text-align:left">
                <div style="font-size:17px;font-weight:500">{{book.name}}</div>
                <div style="font-size:16px;">{{book.author}}</div>
                <div class="funkyradio">
                  <div class="funkyradio-success">
                     <input type="checkbox" name="checkbox" id="{{book.name}}" />
                     <label for="{{book.name}}">Delivered</label>
                 </div>
                </div>
              </div>
            </li>
          </ul>
          <button class="z_btn z_green" type="button" name="button" style="width:100%;" ng-click="updateCollect()">Update Order</button>
        </div>
      </div>


  </div>
</div>
