<div class="">
  <h1>{{data.title}}</h1>
  <h1>some</h1>
  <div class="">
    <div class="">
      <img style="width:50px;height:50px" src="/static/imgs/1.jpg" alt="">
      <span class="">
        <h4>Id: #3233232</h4>
        <h6>Nandha Kumar</h6>
        <p>Nandha@zypher.co</p>
        <h6>1234567</h6>
      </span>
    </div>
  </div>
</div>
